.Imagen {
  width: 100%; /* Aseguramos que la imagen nunca crezca más allá de su contenedor */
  max-width: 40%; /* Limitar el tamaño máximo */
  opacity: 0.7;
  transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease,
    filter 0.3s ease;
}

.Imagen:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(161, 103, 165, 0.6);
  opacity: 1;
  filter: brightness(120%);
}

.countero {
  display: flex;
  justify-content: center;
  text-align: justify;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px;
  gap: 4rem;
  border-bottom: 1px dotted #b0b0b0;
}

.mision {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 50%; /* Limita el tamaño en pantallas más grandes */
}

p {
  font-size: clamp(16px, 2.5vw, 19px); /* Ajuste responsivo del texto */
}

p,
h1 {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
}

/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
  .Imagen {
    max-width: 100%; /* Ajustamos las imágenes al 100% en pantallas pequeñas */
  }

  .mision {
    max-width: 100%; /* Elimina la restricción de ancho en pantallas pequeñas */
  }

  p {
    font-size: 16px; /* Aseguramos un tamaño de fuente más pequeño en pantallas pequeñas */
  }
}

